on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  
      - name: test
        uses: PenguinCabinet/tyranoscript-packager-action@v0.1.3
        with:
          workingdirectory: "test"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}